<!-- Wappler include head-page="layouts/main" is="dmx-app" id="about" appConnect="local" bootstrap5="cdn" fontawesome_5="cdn" components="{dmxVideo:{}}" -->
<meta name="ac:route" content="/about">
<div class="container wappler-block pt-3 pb-3 about-wappler" style="margin-top: 90px; margin-bottom: 30px;">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <h4>Technology<br><small class="text-muted">Is a gateway, not a barrier, to the outdoors</small></h4>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/x87zUzwsw7M?si=iffKI32pgGbKY1e1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p> Ryan Abrahamsen started his first web development and video production company in 2002. Looking to personalize his work and merge his passion for the outdoors and photography with his career in web development, Ryan launched Terrain360.com in 2012. The website offers 360-degree image maps of hiking trails all over the United States.
                <br />
                In partnership with the James River Association, Ryan and Andy Thompson, a local outdoor journalist, floated the 343-mile James River in a custom pontoon raft in the summer of 2014. The resulting map – now online at Terrain360.com and jrava.org – is the first 360-degree image map ever created of an entire river.
            </p>
        </div>
    </div>
</div>