<!-- Wappler include head-page="layouts/main" is="dmx-app" id="test" appConnect="local" bootstrap5="cdn" components="{dmxStripe:{}}" -->
<div class="container">
    <dmx-stripe-payment id="stripe-payment1"></dmx-stripe-payment>
</div>
<meta name="ac:route" content="/test">

<dmx-serverconnect id="sc_test" url="http://localhost:3000/api/get_products_api" auto></dmx-serverconnect>